@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
  font-family: "Cursif";
  font-style: normal;
  font-weight: 700;
  src: local("/fonts/Cursif-BLKG.ttf")
      format("ttf");
}




body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 90vh;
}

