@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "ADELIA";
  src: url("../public/fonts/ADELIA.otf");
}

@font-face {
  font-family: "CURSIF";

  src: url("../public/fonts/Cursif-BLKG.otf");
  font-display: swap;

}


body {
  margin: 0;
  padding: 0;
  font-family: auto;
}